{% extends 'product/base.html' %}

{% block content %}
    <h1 class="cart-title">Корзина товаров</h1>
    {% if cart %}
        <div class="cart-page">
            <div class="name-page"></div>
        </div>
        {% for c in cart %}
            <div class="cart-body">
                <h5 class="cart-title">{{ c.product.name}}</h5>
                <p class="cart-text">{{ c.product.price }}</p>
                <div class="number">
                    <label>
                        <input type="number" class="form-control" value="{{ c.quantity }}">
                    </label>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h4 class="text-center">Корзина пуста </h4>
    {% endif %}
{% endblock %}
