{% extends 'product/base.html' %}
{% load static %}
{% block content %}
    <h1 class="main-description">Список категорий товаров</h1>
    <div class="container category-container">
        {% for category in categories %}
            <div class="block-category">
                <a class="category-info" href="{{category.get_absolute_url}}">
                    <img class="photo-category" src="{% static 'product/image/non-ico.jpg' %}" alt="Фото:{{category.name}}">
                    <p class="name-category">{{category.name}}</p>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
